[submodule "projects/yield-router/lib/forge-std"]
	path = projects/yield-router/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/yield-router/lib/openzeppelin-contracts"]
	path = projects/yield-router/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/yield-router/lib/openzeppelin-contracts-upgradeable"]
	path = projects/yield-router/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
